# Logs
logs
*.log

#intellij settles
.idea

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules/

# Environmental config
.env
.env.*
build/
#config js
src/APIConfig.js

#dist
dist/

#nyc_output
.nyc_output/

#package json lock
package-lock.json

#ignore build css and js files
assets/css/editor-styles.css
assets/css/build/
assets/css/dist
assets/css/rev-manifest.json
assets/css/styles.css
assets/css/styles.css.map
assets/js/build/bundle.js
assets/js/build/bundle.js.map
assets/js/dist
assets/js/rev-manifest.json
assets/js/APIConfig.js

#ignore test reports
coverage
xunit.xml
reports

index.html
my-shows.html
new-tonight.html
overview.html
account-settings.html